<template>
  <div class="posts">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">TAMBAH BUKU></div>
            <div class="card-body">
              <form @submit.prevent="PostStore">
                <div class="form-group">
                  <label>TITLE</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.title"
                    placeholder="Masukkan Title"
                  />
                  <div v-if="validation.title">
                    <div class="alert alert-danger mt-1" role="alert">
                      {{ validation.title[0] }}
                    </div>
                  </div>
                </div>
                <br />
                <div class="form-group">
                  <label>DESCRIPTION</label>
                  <textarea
                    class="form-control"
                    v-model="post.description"
                    rows="5"
                    placeholder="Masukkan Deskripsi"
                  ></textarea>
                  <div v-if="validation.description">
                    <div class="alert alert-danger mt-1" role="alert">
                      {{ validation.description[0] }}
                    </div>
                  </div>
                </div>
                <br />
                <div class="form-group">
                  <label>AUTHOR</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.author"
                    placeholder="Masukkan Author"
                  />
                  <div v-if="validation.author">
                    <div class="alert alert-danger mt-1" role="alert">
                      {{ validation.author[0] }}
                    </div>
                  </div>
                </div>
                <br />
                <button type="submit" class="btn btn-md btn-success mr-2">
                  SUBMIT
                </button>
                <button type="reset" class="btn btn-md btn-danger">
                  RESET
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import axios from "axios";

export default {
  data() {
    return {
      post: {},
      validation: [],
    };
  },
  methods: {
    PostStore() {
      axios
        .post("http://localhost:8000/books/store", this.post)
        .then((response) => {
          this.$router.push({
            name: "posts",
          });
          console.log(response.data.data);
        })
        .catch((error) => {
          this.validation = error.response.data.data;
        });
    },
  },
};
</script>

// import axios from "axios";
// export default {
//   data() {
//     return {
//       books: null,
//     };
//   },
//   async mounted() {
//     this.load();
//   },
//   methods: {
//     async load() {
//       const response = await axios.get("http://localhost:8000/books/search/1");
//       this.books = response.data.data;
//     },
//   },
// };