<template>
  <div class="posts">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">LIST BUKU</div>
            <div class="card-body">
              <router-link :class="['btn btn-md btn-success mb-2']" to="/create"
                >TAMBAH BUKU</router-link
              >
              <hr />

              <div class="table-responsive mt-2">
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>TITLE</th>
                      <th>DESCRIPTION</th>
                      <th>AUTHOR</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="book in books" :key="book.id">
                      <td>{{ book.title }}</td>
                      <td>{{ book.description }}</td>
                      <td>{{ book.author }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import axios from "axios";

export default {
  data() {
    return {
      books: [],
    };
  },
  created() {
    axios.get("http://localhost:8000/books").then((response) => {
      this.books = response.data.data;
    });
  },
};
</script>